


<div class="container">
    <div class="row mb-5">
        <div class="col-sm-4  col-md-8">

                <a href="/form_post"  class="btn btn-success"> เพิ่มข้อมูล </a>
        </div>  
<!-- 
        <div class="col-sm-4  col-md-2">

                <a href="/form_post"  class="btn btn-success"> เพิ่มข้อมูล </a>
        </div>  

        <div class="col-sm-4  col-md-2">

                <a href="/form_post"  class="btn btn-success"> เพิ่มข้อมูล </a>
        </div>   -->
    </div>

    <div class="row">
            <div class="col-12">

                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>CUST_CODE</th>
                            <th>CUST_NAME</th>
                            <th>CUST_CITY</th>
                            <th>CUST_COUNTRY</th>
                            <th> tools</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% row.forEach(function(d){ %>
                            <tr>
                                    <td><%- d.CUST_CODE %></td>
                                    <td><%- d.CUST_NAME %></td>
                                    <td><%- d.CUST_CITY %></td>
                                    <td><%- d.CUST_COUNTRY %></td>
                                    <td> <a href="/delete_cus/<%- d.CUST_CODE %>"  class="btn btn-danger"> ลบ </a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
        </div>
        </div>
</div>


<script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
</script>

