
<div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                            customer form
                    </div>
            </div>
        </div>
        <form method="post"  action="/form_post">
        <div class="row">
                <div class="col-4">
                        <div class="form-group">
                                <label for="CUST_CODE">CUST_CODE</label>
                                <input  type="text" class="form-control" name="CUST_CODE" placeholder="CUST_CODE" required>
                        </div>
    
                        <div class="form-group">
                                <label for="CUST_NAME">CUST_NAME</label>
                                <input  type="text" class="form-control" name="CUST_NAME" placeholder="CUST_NAME" required>
                        </div>
                        
                        <div class="form-group">
                                <label for="CUST_CITY">CUST_CITY</label>
                                <input  type="text"  class="form-control" name="CUST_CITY" placeholder="CUST_CITY" required>
                        </div>
                        
                        <div class="form-group">
                                <label for="WORKING_AREA">WORKING_AREA</label>
                                <input  type="text" class="form-control" name="WORKING_AREA" placeholder="WORKING_AREA" required>
                        </div>
                        




                </div>


                <div class="col-4">
                        <div class="form-group">
                                <label for="CUST_COUNTRY">CUST_COUNTRY</label>
                                <input  type="text"  class="form-control" name="CUST_COUNTRY" placeholder="CUST_COUNTRY" required>
                        </div>
                        
                        <div class="form-group">
                                <label for="GRADE">GRADE</label>
                                <input  type="number"  class="form-control" name="GRADE" placeholder="GRADE" required>
                        </div>
                        
                        <div class="form-group">
                                <label for="exampleInputEmail1">OPENING_AMT</label>
                                <input   type="number" class="form-control" name="OPENING_AMT" placeholder="OPENING_AMT" required>
                        </div>
                        <div class="form-group">
                                <label for="RECEIVE_AMT">RECEIVE_AMT</label>
                                <input  type="number"  class="form-control" name="RECEIVE_AMT" placeholder="RECEIVE_AMT" required>
                        </div>
                </div>

                <div class="col-4">
                        <div class="form-group">
                                <label for="PAYMENT_AMT">PAYMENT_AMT</label>
                                <input  type="number"  class="form-control" name="PAYMENT_AMT" placeholder="PAYMENT_AMT" required>
                        </div>
                        <div class="form-group">
                                <label for="OUTSTANDING_AMT">OUTSTANDING_AMT</label>
                                <input  type="number"  class="form-control" name="OUTSTANDING_AMT" placeholder="OUTSTANDING_AMT" required>
                        </div>
                        <div class="form-group">
                                <label for="PHONE_NO">PHONE_NO</label>
                                <input  type="tel"  class="form-control" name="PHONE_NO" placeholder="PHONE_NO" required>
                        </div>
                        <div class="form-group">
                                <label for="AGENT_CODE">AGENT_CODE</label>
                                <input  type="text"  class="form-control" name="AGENT_CODE" placeholder="AGENT_CODE" required>
                        </div>
                </div>



        </div>  
                <input type="submit" class="btn btn-success">
            </form>
        </div>      
    </div>
</div>
