<form method="get"  action="/form_get_data">
    <input type="text" name="CUST_NAME" placeholder="CUST_NAME">
    <input type="text" name="CUST_CITY" placeholder="CUST_CITY">
    <input type="text" name="PHONE_NO" placeholder="PHONE_NO">
    <input type="submit">
</form>